.container {
  width: 22rem;
  height: 23rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ffffff49;
}

.container img {
  width: 6rem;
  border: 4px solid #ffffffdc;
  border-radius: 999px;
}

.container-info {
  width: 100%;
  height: 4rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #ffffff49;
}

.container h2 {
  font-size: 1.1rem;
  color: #ffffffbe;
}

.container span {
  font-size: 0.8rem;
  color: #ffffff57;
}
